/.env
/vendor/
/node_modules/
/public/build/
/storage/*.key
/storage/app/public/*
/storage/framework/cache/data/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
/bootstrap/cache/*.php
/database/database.sqlite
/.phpunit.result.cache
/playwright-report/
/test-results/
npm-debug.log
yarn-error.log
